/* element/tag: tag{} 
id: #id
class: .class */

body{
    border-color: black;
    border-width: 5px;
    border-style: double;
    padding: 20px;
    width: 420px;
    height: 200px;
    margin-top: 260px;
    margin-left: 600px;
}
button{
    background-color: white;
  color: blue;
  padding: 8px 25px;
  text-align: center;
  font-size: 18px; 
  font-weight: 700;
  margin-left: 140px;
  margin-top: 45px;
  border-radius: 12px;
  border-color: red;
  border-width: 3px;
}
#result{
    margin-top: 40px;
    margin-left: 120px;
}
input{
    height: 30px;
    width: 180px;
    font-weight: 700;
    font-size: 16px;
}